{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-body">
      <h4 class="card-title">BMX Bike</h4>
      <img
      src = 'https://imgs.search.brave.com/62ZLxrWJP0NrvLwXS7NzhfuhUTGc5yB_6cTUmPV4zwk/rs:fit:475:464:1/g:ce/aHR0cHM6Ly93d3cu/Zm9yLXNhbGUuY28u/dWsvc2gtaW1nLzQx/ZGZ6V0VpeFFMLl9B/Q19TWTQwMF9fcmVk/bGluZSUyQmJteCUy/QmJpa2VzLmpwZw'
      height = '500px'
      width = '500px'
      />
      <p class="card-text">Price:$150.00</p>
      <p>About this item
        Lightweight 16-inch steel frame is the perfect bike for rides around your neighborhood or trails. The 24-inch wheel frame fit riders 5’5” to 6’0” inches tall
        Bicycle comes with an alloy crank that provides steady gear changes that cause less maintenance
        Mountain bike has twist shifters with a rear derailleur to make gear changes quick and easy
        Wide knobby mountain tires sit on a lightweight and durable alloy wheel that adds stability and balance to the rider for all weather and terrain types
        Accessories that are included are quick release seat posts that make for a quick and easy adjustment.
        </p>
    </div>
  </div>

{% endblock %}