{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h4 class="card-title">24K Cuban Link Gold</h4>
      <img
      src = 'https://imgs.search.brave.com/elQ5lY8nuudwCrN6GXjC6bm2TgKJEbXDSRpZluo_6zk/rs:fit:900:600:1/g:ce/aHR0cHM6Ly93d3cu/MjRkaWFtb25kcy5j/b20vNDk2NzMvc29s/aWQtMjRrLXllbGxv/dy1nb2xkLW1pYW1p/LWN1YmFuLWxpbmst/bWVucy1jaGFpbi04/LW1tLmpwZw'
      height = '500px'
      width = '500px'
      />
      <p class="card-text">Price $10,000.00</p>
      <p>Precious Metal: 24 Karat Yellow Gold
        Type of Clasp: W-Clasp
        Size Available:
        Thickness:
        5.8 mm*
        Length
        26 inches*
        Approx. Weight: ~121.6 grams*
        *All weights and measurements are approximate.
        **Pendant sold separately.
        Please contact us if you have further questions about alternate sizes or styles, availability, specifications, and personalization options.</p>
    </div>
  </div>
{% endblock %}