{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Hamster</h4>
      <img
      src = 'https://imgs.search.brave.com/iUyhqeGd4m9fTMcY9kIVpQx-qjI9fhBHkah3vf_crLU/rs:fit:320:416:1/g:ce/aHR0cHM6Ly93d3cu/dG9vY3V0ZXRvYmVh/ci5jb20vd3AtY29u/dGVudC91cGxvYWRz/LzIwMTcvMDgvaGFt/c3Rlci5qcGc'
      height = '500px'
      width = '500px'
      />
      <p class="card-text">Price $17.99</p>
      <p>A Hamster is any number of small rodents in the Cricetinae subfamily. 
        People commonly keep these furry little creatures as pets. Researchers recognize 18 different species of Hamsters. 
        The closest relatives of these rodents include lemmings, voles, and some rats and mice.</p>
    </div>
  </div>

{% endblock %}