{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Lamborghoni</h4>
      <img
      src = 'https://imgs.search.brave.com/NeNwrxqEL4w5LOjE2hEubH_Eq8okTViQHU87tKkvdFw/rs:fit:1200:1061:1/g:ce/aHR0cHM6Ly9waWN0/dXJlcy50b3BzcGVl/ZC5jb20vSU1HL2Ny/b3AvMjAxMTAyL2xh/bWJvcmdoaW5pLWdh/bGxhcmRvLTdfMTYw/MHgwdy5qcGc'
      height = '500px'
      width = '500px'
      />
      <p class="card-text">Price $300,000.00</p>
      <p>Soon to be replaced by the Huracán, this baby bull still turns heads. 
        The Gallardo’s sharply creased styling and V-10 prove irresistible to drivers who want to be both seen and heard. 
        Spyder and coupe variants include the rear-wheel-drive LP550-2 and all-wheel-drive LP560-4. 
        Only the rear-drive coupe offers a six-speed manual; others feature a six-speed automated manual. 
        Several special editions, each with an Italian name like Squadra Corse or Superleggera Edizione Tecnica, are available. </p>
    </div>
  </div>
{% endblock %}