{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Peanut Butter</h4>
      <img
      src = 'https://imgs.search.brave.com/C6CnkZMpuPDGb5zFKihySiAAzg16VlC6xR0zJNqJYh4/rs:fit:612:408:1/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vcGhvdG9z/L3BlYW51dC1idXR0/ZXJ2aWV3LXNpbWls/YXItaW1hZ2VzLXBp/Y3R1cmUtaWQxODIz/OTI5MTY_az02Jm09/MTgyMzkyOTE2JnM9/NjEyeDYxMiZ3PTAm/aD1wdU4zaDhHdmZE/ZFdMZHhXUDhJWWRS/Zks0VTJNV2JmU1ZT/NEsyV3pHSlM4PQ'
      height = '500px'
      width = '500px'
      />
      <p class="card-text">Price $3.99</p>
      <p> Spread on the smiles with tasty, creamy peanut buttery perfection. It’s nothing but great snacking with this creamy classic.
        Real Roasted Peanuts: This gluten free, certified kosher, tree nut free peanut butter is made with real roasted peanuts and no added preservatives. It spreads easily with no separation and no oily mess.
        Smooth and creamy: Our peanut butters have no preservatives, artificial flavors or colors similar to other peanut butters. Try them on crackers, in sandwiches, or with fruits and veggies - SKIPPY peanut butter spread makes snacking delicious for the whole family.
        Try Them All: Nothing beats the simple pleasures in life, like a spoon and a fresh jar of SKIPPY Peanut Butter. Try one of our many to go sizes and varieties: Squeeze, Added Protein, No Sugar Added, and many more.
        Delicious and full of flavor: Our gluten-free peanut butters have 7g of protein per serving.</p>
    </div>
  </div>
{% endblock %}