{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Sectional Counch</h4>
      <img
      src = 'https://imgs.search.brave.com/Mk76_B-EBQ2wKqEE_gVBGYz16N7lymx6WYeahHbMaN0/rs:fit:1200:1071:1/g:ce/aHR0cHM6Ly9zLnlp/bWcuY29tL2FhaC95/aHN0LTk2NDA1Nzgy/ODMxMjk1L3N0YW5m/b3JkLWlpLXRyYWRp/dGlvbmFsLWJ1dHRv/bi10dWZ0ZWQtc2Vj/dGlvbmFsLXNvZmEt/aW4taXZvcnktZmFi/cmljLXVwaG9sc3Rl/cnktMTEuanBn'
      height = '500px'
      width = '500px'
      />
      <p class="card-text">Price $2,345.00</p>
      <p>Lambswool
        AYN08N-LWS Dimensions - Overall: 111.4"W x 68.9"D x 23.6"H | 3-seat:42.5’’W x 68.9’’D x 23.6’’H | Chaise:42.5’’W x 68.9’’D x 23.6’’H
        L-shaped sofa adopts modern streamlined design, unique details highlight the quality and texture, which can bring a comfortable sitting experience to your living room, study, home office or bedroom living area.
        The sectional sofa is based on a solid hardwood frame with durable foam cushions built into the white boucle fabric.High-performance and easy-care fabrics are extremely durable and soft to the touch.
        Seat cushions are padded with down and foam to create a relaxing, “sink-into” feel. Made without harmful chemical treatments, our lambswool fabrics are consumer friendly and offer your family comfortable sitting experience.
        No tools needed. Only takes about 20mins for one person to assemble.The L-shaped sofa is divided into 2 boxes, which can easily pass through your door.</p>
    </div>
  </div>
{% endblock %}